body {
    padding: 0px;
    margin: 0px;
}

.header {
    height: 20vh;
    margin-top: -1rem;
    background-color: rgb(253, 221, 52);
}

/* Social Media Icons */

#social-media {
    text-align: right;
    padding: 0.5rem;
}

#social-media a li {
    list-style: none;
    display: inline-block;
    padding: 0.5rem;
}

#social-media a {
    color: rgba(52, 29, 29);
}

#social-media li:hover {
    border-radius: 50%;
    box-shadow: -1px 1px 2px 0px rgb(44, 35, 35);
}

/* Logo  */

.header img {
    display: block;
    height: 27vh;
    width: 14vw;
    position: relative;
    left: 20vh;
    bottom: 20vh;
    box-shadow: 0 0 3px 0px rgb(44, 35, 35);
}


/* Nav Heading  */
#nav-heading {
    text-align: right;
    padding-top: 0.8rem;
    position: sticky;
}

#nav-heading li {
    display: inline-block;
    padding: 0.8rem;
    margin: 0.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    text-shadow: 0 0 1px rgb(147, 133, 42);
}

#nav-heading li a {
    text-decoration: none;
    color: rgb(97, 92, 65);
    transition: 0.1s;
}

#nav-heading li a:hover {
    padding-top: 2px;
    border-top: 1px solid rgb(97, 92, 65);
}

/* Background Image */

#b-image {
    height: 100vh;
    background-image: url("images/gallery6.jpg");
    background-size: cover;
}


/* Mission */
/* Comment for 10th Commit*/ 
.mission {
    display: flex;
    justify-content: center;
    margin-top: -4rem;
}

.mission h2 {
    text-shadow: 0 0 1px rgb(147, 133, 42);
}

#vission {
    background-color: black; // change 
    padding-left: 5rem;
}

#vission img {
    height: 20rem;
    width: 18rem;
    margin-left: -2rem;
}

#vission a {
    text-decoration: none;
}

#cities {
    background-color: white;
    padding: 0rem 5rem 0rem 4rem;
}

#cities ul li {
    list-style: none;
    line-height: 2rem;
}

#cities ul li::before {
    content: ' ';
    display: inline-block;
    height: 15px;
    width: 15px;
    background-image: url('image/hand.png');
    background-size: contain;
}

details {
    display: inline;
    margin-top: 2rem;
    cursor: pointer;
}

details img {
    padding: 1.5rem 0rem 0.5rem 3rem;
    display: block;
}

details a {
    margin-left: 2.2rem;
}

/* Heading */

.heading {
    text-align: center;
    margin-top: 5rem;
    text-shadow: 0 0 1px rgb(147, 133, 42);
}

/* Why */

.why {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem 1.5rem;
    padding: 0rem 3rem 0rem 2rem;

}

.why_data_video1 {
    grid-column: 2/ span 2;
    grid-row: 1/span 2;
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; */
}

.why_data_video2 {
    grid-column: 2/ span 1;
    grid-row: 3/ span 2;
}

.why_data_video3 {
    grid-column: 3/ span 1;
    grid-row: 3/ span 2;
}


/* Images */
images {
    display: grid;
    height: 80vh;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px 15px;
}

.item1{
    background-image: url("images/pic1.jpg");
    background-size: contain;
}
.item2{
    background-image: url("images/gallery10.jpg");
}

.item3{     
    background-image: url("images/pic2.jpg");
    grid-row: 1/ span 2;
    grid-column: 3/ span 2;
    background-size: contain;
}
.item4{
    background-image: url("images/gallery4.jpg");
    grid-column: 1/ span 2;
    background-size: contain;
}


/* Contact */

.contact {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    background-color: rgb(195, 194, 194);
    position: sticky;
}
.writeletter table {
    margin-right: 7rem;
    margin-top: 1rem;
}

.writeletter table tr input {
    padding: 0.5rem;
    width: 17rem;
    border-radius: 10px;
    background-color: rgb(220, 217, 217);
    margin-top: 1rem;
    border: none;
    border-bottom: 1px solid black;
}
.writeletter table tr textarea {
    padding: 0.5rem;
    width: 17rem;
    border-radius: 10px;
    background-color: rgb(220, 217, 217);
    margin-top: 1rem;
    border: none;
    border-bottom: 1px solid black;
}

::placeholder {
    color: black;
}

.c_information {
    margin-left: 3rem;
}